.App {
  text-align: center;
}

body {
  background-color: rgb(28, 31, 36);
}

h1 {
  font-size:3em;
  line-height:2em;
  color: whitesmoke;
}

h4 {
  padding-top: 3%;
  padding-bottom: 3%;
}

p {
  padding-top: 2%;
}

.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 3%;
  grid-auto-flow: row;
  justify-content: center;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

