html,body{
  margin:0;
  padding:0;
}

.header{
  width:100vw;
}

.App { 
	float: none !important; 
	margin: 0 auto !important;
	max-width: 85%;
  text-align: center; 
}

body {
  background-color: rgb(28, 31, 36);
}

h1.app-header {
  color: whitesmoke;
  margin-bottom: -0.3em;
  margin-top: 2%;
}

h2 {
  color: whitesmoke;
}

h4 {
  padding-bottom: 3%;
  padding-top: 3%;
}

p {
  padding-top: 2%;
}

p.lead {
  color: whitesmoke;
  padding-bottom: 1%;
}

.grid-container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
  grid-template-columns: 25% 25% 25% 25%;
  margin-left: 10px;
  margin-right: 100px;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  clear: both;
  content: "";
  display: table;
}

.namespace-drop-down {
  background-color: rgb(28, 31, 36);
  color: whitesmoke;
  margin-left: 1em;
}

.cluster-drop-down {
  background-color: rgb(28, 31, 36);
  color: whitesmoke;
  margin-left: 1em;
  padding-left: 5%;
}

.form-floating {
  background-color: rgb(28, 31, 36);
  color: whitesmoke;
  line-height: 50%;
  text-align: left;
}

.form-select {
  background-color: rgb(28, 31, 36);
  color: whitesmoke;
  text-align: left;
}

#form-select-label {
  padding-left: 35px;
  position: absolute;
}

select {
  min-height: 90%;
}

#image-search-bar {
  background-color: rgb(28, 31, 36);
  color: whitesmoke;
  position: relative;
  width: 50%;
}