html,body{
  margin:0;
  padding:0;
}

.header{
  width:100vw;
}

.App {
  text-align: center;
	max-width: 85%; 
	margin: 0 auto !important; 
	float: none !important; 
}

body {
  background-color: rgb(28, 31, 36);
}

h1.app-header {
  color: whitesmoke;
  margin-top: 2%;
  margin-bottom: -0.3em;
}

h2 {
  color: whitesmoke;
}

h4 {
  padding-top: 3%;
  padding-bottom: 3%;
}

p {
  padding-top: 2%;
}

p.lead {
  color: whitesmoke;
  padding-bottom: 1%;
}

.grid-container {
  margin-left: 10px;
  margin-right: 100px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 30px;
  grid-auto-flow: row;
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.namespace-drop-down {
  background-color: rgb(28, 31, 36);
  color: whitesmoke;
  margin-left: 1em;
}

.cluster-drop-down {
  background-color: rgb(28, 31, 36);
  color: whitesmoke;
  padding-left: 5%;
  margin-left: 1em;
}

.loading-spinner {
  position: fixed;
  left: 48%;
}

.form-floating {
  text-align: left;
  color: whitesmoke;
  background-color: rgb(28, 31, 36);
  line-height: 50%;
}

.form-select {
  text-align: left;
  color: whitesmoke;
  background-color: rgb(28, 31, 36);
}

#form-select-label {
  position: absolute;
  padding-left: 35px;
}

select {
  min-height: 90%;
}